@font-face{
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    font-family: 'Poppins', sans-serif;
}

html{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EEFCFA;
}

a{
    text-decoration: none;
    color: #3f3f3f;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

nav{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    background-color: #4ADBC8;
    margin: 0;
    width: 100vw;
    height: 7vh;
}

#busca{
    margin: 0;
    border: 0;
    border-radius: 5px;
}

#busca:focus{
    outline: none;
}

ul{
    display: flex;    
}

ul li{
    list-style: none;  
    margin: 0; 
}

ul a{
    text-decoration: none;
    padding: 0 2em;
    color: #3f3f3f;
}

nav input{
    height: 3vh;
    margin-top: 2vh;    
}

nav img{
    width: 50px;
}

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

.prod{
    text-align: center;
}

.produtos img{
    width: 200px;
    height: 200px;
}

h3#pedido{
    text-align: center;
}

.colaboradores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.colaboradores img{
    width: 200px;
    border-radius: 50%;
}

.colaboradores p{
    font-size: 22px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 30px;
    width: 40%;
}

.cadastro form input{
    margin: 5px 0;
    padding: 7px;
    outline: none;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2A3E27;
    color: #dadada;
}

footer .logoFooter img{
    width: 150px;
}